* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #74daa2;
  color: #05386b;
}
.section-title {
  /* margin-top: 30px; */
  position: fixed;
  width: 100vw;
  z-index: 2;
  background-color: #05386b;
  color: white;
  top: 0;
  /* margin-bottom: 30px; */
}
.search {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  top: 3.5rem;
  background-color: #05386b;
  /* color: white; */
  z-index: 2;
}
input {
  width: 20rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
.container {
  margin-top: 7rem;
}
.article {
  margin: 0px;
  /* width: 20rem; */
  cursor: pointer;
  padding: 0px;
  /* width: 20%; */
  /* margin: 20px 2.5%; */
}
.card {
  margin: 10px;
}
.card-img-top {
  height: 10rem;
  /* height: 100%; */
  object-fit: cover;
}
.loader {
  position: absolute;
  top: 45%;
  left: 45%;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #05386b;
  border-color: #05386b transparent #05386b transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
